@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-size: confortaa;
    font-family: 'Poppins', sans-serif;
}
/* body-style*/
body{
    background-image: url("pexels-andrea-piacquadio-3784386.jpg");
    background-size: cover;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    background-position: center; 
}
/*login*/
/*.form{
  margin-top: 500px;
}*/
 .login-form{
   width: 330px;
   background-color: rgba(255, 255, 255, 0.30);
   border-radius: 12px;
   box-shadow: 3px 5px 30px gray;
   padding: 20px;

 }
 #oublie:hover{
  color: rgb(0, 0, 255);
 }
 #oublie{
  color:black;
 }
 input{
   display: block;
   height: 50px;
   width: 100px;
   background-color: rgba(255, 255, 255, 0.07);
   border-radius: 3px;
   padding: 0 10px;
   margin-top: 8px;
   font-size: 14px;
   font-weight: 300;
 }
 label{
   display: block;
   font-size: 16px;
   font-weight: 500;
 }
 #photo{
    border-radius: 50px;
 }
 #error{
   display: none;
 }
 #btn{
  width: 100%;
  background:linear-gradient(45deg, rgb(43, 226, 198), rgb(20, 192, 255));
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color:#fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
 }
 #btn:hover{
  letter-spacing: 2px;
    opacity: .8;
    
 }