@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(236, 229, 229);
    font-family: monospace;
    width: 100%;
    
}
.container{
    margin: 10px auto;
   
}
/* main page header */
nav{
    background: #0082e6;
    height: 80px;
   
}
nav ul{
   float: right;
   margin-right: 102px;
   font-weight: 800;

}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    
}
@media screen and (min-width:953px){
    label.logo{
        color: white;
        font-size: 35px;
        line-height: 80px;
        font-weight: bold;
        margin-left: 90px;
        
    } 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;   
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    
}
/*service*/
.servise1{
    margin-top: 30px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* Contactez*/
.Contactez {
    margin-top: 30px;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Contactez-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
  }
  #cont1{
    display: none;
  }
  .phon {
    display: inline;
    margin-left: 10px;
    color: #555;
    text-decoration: none;
    font-size: 16px;
  }
  
  .fa-phone {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
  }
/* A propos */
#servise1{
    display: block;
}
#app{
    display: none;
    border: 1px solid #ffcb61;
    background-color: #ffffff;
    padding: 5%;
    box-shadow: 3px 5px 30px gray;
    border-radius: 12px;
}
 #return:hover{
   background-color: white;
}
/* End */
/*Immobilier*/
#immo{
    display: none;
    background-color: #2596be;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ff4500;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }

  
#DETAIL{
    width: 100%;
  background:linear-gradient(45deg, rgb(108, 225, 166), rgb(38, 218, 221));
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color:#fff;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
}
#DETAIL:hover{
    letter-spacing: 2px;
    opacity: .8;
   
}
/* End */
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
    text-decoration: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;

    }
}
@media (max-width: 858px){
.checkbtn{
    display: block;
}
#nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    transition: all .5s;
    

}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

nav ul li a{
    font-size: 20px;

}

a:hover,a.active{
    background: none;
    color: #0082e6;
}
#check:checked ~ ul{
    left: 0;
}
}
/*----------------*/
/* transact button */
#transact-btn{
    background-color: rgb(0, 191, 255);
    color: white;
    
}
/* End */
/* add accounts btn */
#add-accounts-btn{
    background-color: rgb(0, 191, 255);
    color: white;
    width: 300px; 
}
.offcanvas{
    background-image: url("pexels-cup-of-couple-6634181.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    
}
table {
    border-collapse:collapse;
    color: #404040;
    width: 100%;

}
th {
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 500;
}

td {
    font-weight: 400;
    padding: 5px 30px;
    font-size: 14px;
    text-align: center;

}

/*--Card: payment card--*/
.payment-card{
    display: none;
}
/*--Card: transfer card--*/
.transfer-card{
    display: none;
}
#form_client{
    display: block;
    
}

/* carte client .css */
.container1{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-end;
    
   
}
/*accordion-header*/

/* form card */
.container1 form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 115px;
}

.container1 form .inputBox{
    margin-top: 10px;
}
/*input*/
.container1 form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container1 form .inputBox input,
.container1 form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container1 form .flexbox{
    display: flex;
    gap:15px;
}

.container1 form .flexbox .inputBox{
    flex:1 1 150px;
}

.container1 form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, rgb(43, 226, 198), rgb(20, 220, 255));
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container1 form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container1 .card-container1{
    margin-bottom: -120px;
    position: relative;
    height: 220px;
    width: 345px;
    display: flex;
    
    
}

.container1 .card-container1 .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, rgb(43, 226, 131), rgb(255, 137, 20));
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container1 .card-container1 .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container1 .card-container1 .front .image img{
    height: 50px;
}

.container1 .card-container1 .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container1 .card-container1 .front .flexbox{
    display: flex;
}

.container1 .card-container1 .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container1 .card-container1 .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container1 .card-container1 .back{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(45deg, rgb(205, 226, 43), rgb(20, 200, 255));
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container1 .card-container1 .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container1 .card-container1 .back .box{
    padding: 0 20px;
}

.container1 .card-container1 .back .box span{
    color:#fff;
    font-size: 15px;
}

.container1 .card-container1 .back .box .cvv-box{
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container1 .card-container1 .back .box img{
    margin-top: 30px;
    height: 30px;
}
/* liste users*/


.wrapp{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    /*max-width: 500px;*/
    margin: 0 auto;
    width: 100%;
 }
 .content{
    width: 100%;
 }
 
 .content .data{
    padding: 25px;
    background-color: #fff;
    border: 2px solid #8bc34a;
    border-radius: 8px;
 }
 .content p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: medium;
    padding-bottom: 15px;
    border-bottom: 1px solid gainsboro;
 }
 .content p:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
 }
 .content p b{
    font-weight: 100;
 }
 .content p span{
    font-weight: normal;
 }
 
  /*-----------*/

  /*form */
  #chak {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
    display: none;
    
}
.lab {
    display: block;
    margin-bottom: 10px;
}
.inpu6 {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}
#butt5 {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}
#transact-btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
}
#serv{
    background-color: #4c93af;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; 
}

